<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      les etudiants de cette journee
      <ion-badge color="primary" mode="ios">{{nb}}</ion-badge>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <capacitor-google-map id="map"></capacitor-google-map>
  <button (click)="createMap()">Create Map</button>  

<ion-list  *ngIf="results; else skeleton"  >
  <ion-item *ngFor="let i of results"    >
    <ion-avatar slot="start">
      <ion-img [src]="i.profil"></ion-img>
    </ion-avatar>
    <ion-label>{{i.nomComplet}}</ion-label>
  </ion-item>
</ion-list>
 <ng-template #skeleton>
  <ion-list    >
    <ion-item *ngFor="let i of [1,2,3,4,5,6,7]"    >
      <ion-avatar slot="start">
        <ion-skeleton-text [animated]="true" ></ion-skeleton-text>
        
      </ion-avatar>
      <ion-label><ion-skeleton-text [animated]="true" ></ion-skeleton-text></ion-label>
      
      
        
        
    </ion-item>
  </ion-list>
 </ng-template>





</ion-content>

<!-- <ion-footer id="container" color="primary">
  <div class="container-footer">
    <p>yoo</p>
  </div>
 
</ion-footer> -->
