.center{
    text-align: center;
    margin-left: 8rem;
}
ion-button  {
    margin-left: 20px;
    margin-right: 0px;
    display: block;
    width: 50%;
    clear: both;
    contain: content;
}
ion-label{
    margin-left: 11px;
}
.left{
    margin-left: 3px;
}

