<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div class="back-circle"></div>
    <ion-title class="ion-text-center custom-font">Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="logo">
    <img src="assets/images/logo.png" alt="">
  </div>

  <svg
    class="back-blob"
    viewBox="0 0 200 200"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill="#181C3D"
      d="M49.3,-25.6C63.2,-4.4,73.3,21.9,64.4,35.9C55.6,49.9,27.8,51.6,2.9,50C-22.1,48.3,-44.1,43.3,-53.3,29.1C-62.5,14.8,-58.9,-8.5,-47.9,-28.1C-36.8,-47.7,-18.4,-63.4,-0.4,-63.2C17.7,-63,35.4,-46.8,49.3,-25.6Z"
      transform="translate(100 100)"
    />
  </svg>

  <div class="ion-padding">
    <form class="ion-padding">
      <div class="wrap-input">
        <input
          class="input"
          required
          type="name"
          placeholder="Name"
          type="text"
        />
      </div>
      <div class="wrap-input">
        <input
          class="input"
          required
          type="mail"
          placeholder="Email"
          type="text"
        />
      </div>
      <div class="wrap-input">
        <input
          class="input"
          required
          type="password"
          placeholder="Password"
          type="password"
        />
      </div>

      <div class="form-btn" color="secondary">
        <button class="btn" type="submit">submit</button>
      </div>
    </form>
  </div>

  <div class="option" lines="none" [routerLink]="['/login']">
     <p>Do you already have an account?
      <span color="secondary">Sign in</span>
    </p>
  </div>
</ion-content>
